{% extends "base.html" %}
{% load static %}

{% block title %}Contact{% endblock title %}
{% block banner-slider %}

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      
      <div class="carousel-item active">
        <img src="{% static "images/banner/b2.jpg" %}" class="d-block w-100" alt="...">
      
      </div>
    </div>
  </div>

{% endblock banner-slider %}
{% block main %}
<div class="container mt-3">
    <br>
    <h2 class="text-center">Contact Us</h2>
    <br>
    <div class="row container">
        <p class="fs-4 text-center">Address : Tumkur University </p>
        <p class="fs-4 text-center">Contact Us: +91 9999-888-777</p>
        <p class="fs-4 text-center">Email : customersupport@neel.com</p>
    </div>
</div>


<br><br>

{% endblock main %}