{% extends "base.html" %}
{% load static %}
{% block title %}Reset Success{% endblock title %}

{% block main %}
<div class="container my-5">
    <div class="row">
        <h3>Welcome {{request.user.username|capfirst}}</h3>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid">
                    <a href="{% url 'profile' %}" class="btn btn-primary">Change Password Done</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9 offset-sm-1 text-center">
            <h3>Password Changed Successfully!!!</h3>
            <div>
                <iframe src="https://giphy.com/embed/WV4V9TLIhU33ub8wAP" width="400" height="400"  frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
            </div>

        </div>

    </div>
</div>

{% endblock main %}